##**Reading the inventory**

In [4]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [3]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

##**Purchase products**

In [5]:

ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1005
Enter the quantity: 1
Product:  Pen
Price:  20
Billing Amount:  20

##**Updating Inventory after purchase**

In [6]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [7]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 99},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

##**Sales Json**

In [8]:

{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'amount': 20, 'prod': '1005', 'qn': 1}

In [9]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [10]:
sale = json.dumps(sales)